.Wrapper {
	padding: 15px 15px;
	min-width: 320px;
}

@media (min-width: 500px) and (max-width: 1023px) {
	.Wrapper {
		margin: 0px auto;
		padding: 15px 50px;
		max-width: 750px;
	}
}

@media (min-width: 1024px) {
	.Wrapper {
		margin: 0px auto;
		padding: 15px 75px;
		max-width: 1170px;
	}
}

.Image {
	position: relative;
	min-height: 400px;
	z-index:-1;

	background-size: cover;

	.Fade {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		height: 150px;

		background-image: linear-gradient(to bottom, rgba(243,243,243,0), rgba(243,243,243,0.75) 50%, rgba(243,243,243,1));
	}
}