@import '../../styles/theme';

.FeaturedItem {
	display: flex;
	flex: 0 0 30%;
	margin-top: 20px;
	padding: 15px;

	border: 0px solid #bbb;
	background-color: #f4f4f4;	
	box-shadow: $defaultShadow;

	cursor: pointer;

	&:hover {
		background-color: #f0f0f0;
		box-shadow: $hoverShadow;
	}

	img { max-height: 100px; }
}

.Image {
	flex: 0 0 80px;
	text-align: center;
}

.Details {
	flex: 1 1 auto;		
	text-align: left;

	h4 {
		color: $themeColor;
		font-family: $labelFont;
		font-weight: 900;
		font-size: 14px;
	}
}